
        * {
            margin: 0px;
            padding: 0px;
    }


    .main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }


    .button {
        width: 50px;
        height: 50px;
        font-size: 25;
        margin: 2;
        background: rgba(95,199,239,.90);
        border:none;
    } 


    .notAButton:hover {
        background: rgba(75,179,219,1);
    }


    .textview {
        text-align: right;
        width: 192px;
        height: 25px;
        margin-left:2px;
        font-size: 25;
        padding: 5px
    }


    html {
        background: linear-gradient(#e66465, #9198e5);
        height:100%;
    }